<!DOCTYPE html>
<html>
	<head><title><%-blocks.title%></title>
		<link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css">

		<script src="/vendor/bower_components/jquery/dist/jquery.js"></script>
		<script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	</head>
	<body>
		<section class="container">
		<%-partial('../partials/topNavigation')%>
		<h1><%-blocks.title%></h1>
			<%-body -%>
		</section>
	</body>
</html>